<footer>
<div class="container">
  <div class="value-prop-item">
    <h2>Get involved</h2>
    <p>Radicle is free and open source software, we welcome all contributors. To get started, check out our Contributior's Guide.</p>
    <p>Follow along and chime in on radicle.community.<br>For periodic announcements, follow us on twitter.<br>Drop in the #radicle channel on freenode.</p>
  </div>
  <div class="value-prop-item">
    <h2>Stay up to date</h2>
    <p>If you'd like to stay updated about product releases, project updates, and other announcements, hand us your e-mail and we'll keep you in the loop.
    <p>Follow along and chime in on radicle.community.<br>For periodic announcements, follow us on twitter.<br>Drop in the #radicle channel on freenode.</p>
  </div>
</div>
  <img src="/img/garden-bottom.png" alt="A beautiful, pixel art garden.">
</footer>
