<footer>
  <div class="container">
    <video class="footer-gif gif" autoplay playsinline loop muted>
      <source type="video/mp4" src="/img/footer-contact.mp4">
    </video>
    <div class="text">
      <h1 class="druk">Stay up <span>to date</span></h1>
      <p>If you'd like to stay updated about product releases, project updates, and other announcements, hand us your e-mail and we'll keep you in the loop.</p>
      <br>
      <p>For updates, follow us on <a href="https://twitter.com/radicle" target="_blank"><span>Twitter</span></a>.</p>
      <form action="https://xyz.us2.list-manage.com/subscribe/post?u=6c7bba7ab992717860dcec6eb&amp;id=f960345a90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" autocomplete="off" class="validate" novalidate autocomplete="off">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email here" required />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_6c7bba7ab992717860dcec6eb_f960345a90" tabindex="-1" value="">
        </div>
        <button type="submit">Join</button>
      </form>
      <p class="small">Radicle is a project supported by <a href="https://radicle.ch/" target="_blank"><span>The Radicle Foundation</span></a>.</p>
      <p class="small">Read about our <a href="/terms">Terms of Use</a> & <a href="/privacy">Data & Privacy Policy</a>.</p>
      <p class="small">Looking for logos or brand assets? You can find those on the <a href="/brand">Brand page</a>.</p>
      <p class="small">GIF artwork credits:
      <a href="https://www.instagram.com/render_fruit" target="_blank">Render Fruit</a>,
      <a href="https://www.instagram.com/kotutohum.gif" target="_blank">kotutohum</a>,
      <a href="http://echinopsisfreak.com/" target="_blank">Greg Krehel</a>,
      <a href="https://en.wikipedia.org/wiki/Ghost_in_the_Shell_(1995_film)" target="_blank">Ghost in the Shell</a>.</p>
    </div>
  </div>{{! closes container }}
</footer>
