<footer>
  <p>Radicle is free and open source software, we welcome all contributors.</p>
  <p>Follow us on <a href="https://twitter.com/radicle_xyz" target=”_blank”>Twitter</a>, contribute on <a href="https://github.com/radicle-dev" target=”_blank”>GitHub</a>, join the conversation in the <a href="https://radicle.community" target=”_blank”>community</a>, or drop in the <a href="irc://freenode:1/radicle">#radicle</a> channel on freenode.</p>
</footer>
