<head>
  <title key="title">radicle</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="styles/style.css" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@radicle_xyz" />
  <meta name="twitter:creator" content="@radicle_xyz" />
  <meta property="og:title" content="Radicle - Peer-to-peer code collaboration" />
  <meta property="og:image" content="img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta property="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
