<header class="inverted">
  <div class="container">
    <a href="/" id="logo">
      {{> logo-light }}
      {{> leaf }}
    </a>
    <nav>
      <a href="https://radicle.community">community</a>
      <a href="https://github.com/radicle-dev">code</a>
    </nav>
  </div>
</header>
