<header>
  <a href="/" id="logo">
    {{> logo }}
  </a>
  <nav>
    <a href="https://radicle.community" target=”_blank”><span>Community</span> ↗</a>
    <a href="https://github.com/radicle-dev" target=”_blank”><span>Code</span> ↗</a>
    <a href="https://github.com/radicle-dev" target=”_blank”><span>Try it</span> ↓</a>
  </nav>
</header>
