<header>
  <a href="/" id="logo">
    {{> logo }}
  </a>
  <nav>
    <a href="/blog"><span>Blog</span></a>
    <a href="/community.html"><span>Community</span></a>
    <a href="https://docs.radicle.xyz" target="_blank"><span>Docs</span> ↗</a>
    <a href="https://github.com/radicle-dev" target="_blank"><span>Code</span> ↗</a>
    <a class="try-it" href="/downloads.html"><span>Try it</span> ↓</a>
  </nav>
</header>
