<header>
  <a href="/" id="logo">
    {{> logo }}
  </a>
  <nav>
    <a href="https://radicle.mirror.xyz/"><span>Blog</span></a>
    <a href="/community"><span>Community</span></a>
    <a href="https://docs.radicle.xyz" target="_blank"><span>Docs</span> ↗</a>
    <a href="https://github.com/radicle-dev" target="_blank"><span>Code</span> ↗</a>
    <a class="try-it" href="/tryit"><span>Try it</span> ↓</a>
  </nav>
</header>
