.docs-page {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: left;
}

aside nav {
  display: flex;
  flex-direction: column;
}

aside nav a {
  padding-bottom: 8px;
}

aside nav a:nth-child(4) {
  padding-bottom: 32px;
}
