input[type="text"] {
  border: 1px solid var(--color-foreground-level-3);
  padding: 0 0 0 8px;
  height: 40px;
  border-radius: 4px;
  margin-right: 0;
  color: var(--color-foreground-level-6);
  width: 250px;
}

input[type="text"]::placeholder {
  color: var(--color-foreground-level-4);
}

input[type="text"]:focus::placeholder {
  color: var(--color-foreground-level-4);
  margin: 0 1px;
}

input[type="text"]:hover,
input[type="text"]:focus {
  background: var(--color-foreground-level-1);
}

button {
  color: var(--color-foreground);
  height: 40px;
  padding: 0 12px;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--color-foreground-level-2);
}

button:hover {
  background-color: var(--color-foreground-level-2);
}

button:active {
  transition: none;
  opacity: 0.5;
}

/* main cta */

.main-cta > input[type="text"],
.main-cta > button {
  font-size: 1.5rem;
  height: 3.25rem;
  color: var(--color-background);
  margin-left: 1rem;
  border: 1px solid var(--color-background);
}

.main-cta > input[type="text"]::placeholder {
  color: var(--color-background);
}

.main-cta > input[type="text"]:focus::placeholder {
  color: var(--color-background);
}

.main-cta > input[type="text"]:hover,
.main-cta > input[type="text"]:focus {
  background: var(--color-foreground);
}

.main-cta > button:hover {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-background);
}
