input[type=text] {
    border: 1px solid var(--color-foreground-level-3);
    padding: 0 0 0 8px;
    height: 40px;
    border-radius: 4px;
    margin-right: 0;
    color: var(--color-foreground-level-6);
    width: 250px;
}

input[type=text]::placeholder {
    color: var(--color-foreground-level-4);
    transition: all .1s ease-in-out;
}

input[type=text]:focus::placeholder {
    color: var(--color-foreground-level-4);
    margin: 0 1px;
    transition: .2s background ease-in-out;
}

input[type=text]:hover,
input[type=text]:focus {
    background: var(--color-foreground-level-1);
}

button {
    background-color: var(--color-primary);
    color: var(--color-background);
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    margin-left: 8px;
    transition: .2s background ease-in-out;
    cursor: pointer;
}

button:hover, button:focus {
    background:var(--color-primary-level-2);
}

button:active {
    transition: none;
    color:var(--color-primary-level-1);
}

/*
commenting out because it looks bad but we need focus states still
button:focus {
    box-shadow: 0 0 0 2px var(--color-primary-level-6);
}
*/
