input[type=text] {
    border: 1px solid var(--color-foreground-level-3);
    padding: 0 0 0 8px;
    height: 40px;
    border-radius: 4px;
    margin-right: 0;
}

button {
    background-color: var(--color-primary);
    color: var(--color-background);
    height: 40px;
    padding: 0 12px;
    border-radius: 4px;
    margin-left: 8px;
}
