/* MOBILE */
@media only screen and (max-width: 480px) {

  #get-the-app p,
  #get-the-app form {
    margin: 0;
  }

  #email-signup input[type=text],
  #email-signup form button,
  #email-signup p {
    width: 80vw;
    margin-left: 0;
  }

  #email-signup form button,
  #email-signup p {
    margin-bottom: 16px;
  }

  #email-signup input[type=text] {
    margin-bottom: 8px;
  }

  a#logo {
    width: 300px;
  }

  h1.xl {
    font-size: 9.5vw;
    line-height: 9.5vw;
  }


}

/* TABLET */
@media only screen and (max-width: 960px) {

  header {
    padding-bottom: 0;
  }

  header nav {
    padding-top: 16px;
    position: static;
    top: unset;
    right: unset;
  }

}
