@charset "UTF-8";
@import "reset.css";
@import "typography.css";
@import "color.css";

body {
  text-align: center;
  background: var(--color-background);
  color: var(--color-foreground);
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 8px 12px;
  border-radius: 4px;
}

header {
  padding: 32px;
}

header nav {
  padding-top: 12px;
}

#subtitle {
  padding: 32px 0 82px 0;
}

#get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--color-foreground-level-3)
}

#get-the-app img {
  margin-top: 48px;
  max-width: 934px;
}
