@font-face {
  font-family: "Inter";
  src: url('https://rsms.me/inter/inter.css');
}

@font-face {
  font-family: "Source Code Pro";
  src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
}

:root {
  --font-stack: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: var(--font-stack);
}

pre > code {
  display: block;
  line-height: .95em;
}

h1, h2, h3, h4, h5, button {
  font-weight: bold;
  color: var(--color-foreground);
}

p {
  font-family: var(--font-stack);
  color: var(--color-foreground-level-6);
}

h1  {
  font-size: 36px;
  line-height: 40px;
}

h1.xl {
  font-size: 8vw;
  line-height: 7.5vw;
  font-weight: 900;
  max-width: 90vw;
  margin: 0 auto;
}

h2  {
   font-size: 24px;
   line-height: 28px;
}

h3  {
  font-size: 20px;
  line-height: 24px;
}

h4  {
  font-size: 16px;
  line-height: 20px;
}

h5  {
   font-size: 13px;
   line-height: 16px;
}

.all-caps {
  text-transform: capitalize;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-secondary);
}

a:hover, a:focus {
  color: var(--color-secondary-level-2);
}
