@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter.css");
}

@font-face {
  font-family: "Druk X";
  src: url("../fonts/Druk-XCondSuper.otf");
}

:root {
  --font-stack: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: var(--font-stack);
  font-feature-settings: "ss01", "ss02", "cv01";
}

pre > code {
  display: block;
  line-height: 0.95em;
}

h1,
h2,
h3,
h4,
h5,
button {
  color: var(--color-foreground);
}

p {
  font-family: var(--font-stack);
  color: var(--color-foreground-level-6);
  line-height: 150%;
}

p.small {
  font-size: 0.75rem;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

.druk {
  font-family: Druk X;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  padding-top: 3rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-secondary);
}

a span {
  border-bottom: 1px solid;
}

a:hover,
a:focus {
  color: var(--color-primary);
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
