@font-face {
  font-family: "FutureMono";
  font-weight: bold;
  src: url("../fonts/TheFutureMono01-Regular.otf");
}

pre>code {
  display: block;
  line-height: .95em;
}


a {
  cursor: pointer;
  text-decoration: none;
  color: #5555FF;
}

a:hover {
  text-decoration: underline;
}
