<!doctype html>
<html>
<head>
  <title key="title">Announcing the Seeders Program</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle Blog - Announcing the Seeders Program" />
  <meta property="og:image" content="https://radicle.xyz/img/token-launch-share-image.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/token-launch-share-image.jpg" />
  <meta property="og:description" content="<replace me>" />
  <meta property="description" content="<replace me>" />
</head>
<body id="post">
  <div class="overflow-killer">
   {{> header }}
    <div class="content">
      <section id="headline" class="seeders">
        <h1 class="headline druk">
          Announcing the Seeders Program
        </h1>
        <p class="subtitle"> </p>
      </section>
      <div id="post-container">
        <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@abbey_titcomb</a> • <span>February 22th, 2021</span></p>
        <p>content goes here</p>
      </div>
  </div>
</body>
</html>
