<!doctype html>
<html>
{{> head }}
<body id="blog">
  {{> header }}
  <div class="content">
    <img class="headline-gif gif" src="../img/download-flower.gif" alt="Animation of a flower growing.">
    <h1 class="headline druk">blog</h1>
    <div class="overview">
      <div class="post-item">
        <h2>Collaborating on Radicle</h2>
        <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@lftherios</a> • <span>December 20th, 2020</span></p>
        <p class="snippet">This is a post on Radicle, a peer-to-peer stack for code collaboration. When coming to Radicle from a centralized code collaboration network like GitHub or Gitlab, users might be puzzled by Radicle's unique social model at first. In contrast to centralized code collaboration platforms, on Radicle:</p>
        <a class="read-more"href="/blog/radicle-social-model.html">
          <button>Read more</button>
        </a>
      </div>
      <div class="post-item">
        <h2>How it Works: Radicle Link</h2>
        <p class="meta">by <a href="https://twitter.com/cloudhead" target="_blank">@cloudhead</a> • <span>November 18th, 2020</span></p>
        <p class="snippet">This article dives into the architecture and design of Radicle Link&mdash;the peer-to-peer replication
          protocol that powers Radicle. We discuss our decision to build on Git, how we ensure data availability,
          and how we replicate data across the network...</p>
        <a class="read-more"href="/blog/radicle-link.html">
          <button>Read more</button>
        </a>
      </div>
      <div class="post-item">
        <h2>Towards Decentralized Code Collaboration</h2>
        <p class="meta">by <a href="https://twitter.com/abbey_titcomb" target="_blank">@abbey_titcomb</a> • <span>April 15th, 2020</span></p>
        <p class="snippet">Throughout the last decade, open source has become a standard for software development. Sharing code freely and publicly has made it drastically cheaper and easier to build software—and tech innovation is surging as a result. Code hosting and collaboration platforms like GitHub and GitLab have contributed heavily to the growth of open ...</p>
        <a class="read-more"href="/blog/towards-decentralized-code-collaboration.html">
          <button>Read more</button>
        </a>
      </div>
    </div>
  </div>
</body>


