<!doctype html>
<html>
{{> head }}
<body id="blog">
  {{> header }}
  <div class="content">
    <img class="headline-gif gif" src="../img/download-flower.gif" alt="Animation of a flower growing.">
    <h1 class="headline druk">blog</h1>
    <div class="overview">
      <div class="post-item">
        <h2>The Radicle Code Collaboration Model</h2>
        <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@lftherios</a> • <span>december 20th, 2020</span></p>
        <p class="snippet">This is a post on Radicle, a peer-to-peer stack for code collaboration. When coming to Radicle from a centralized code collaboration network like GitHub or Gitlab, users might be puzzled by Radicle's unique social model at first. In contrast to centralized code collaboration platforms, on Radicle:</p>
        <a class="read-more"href="/blog/towards-decentralized-code-collaboration.html">
          <button>Read more</button>
        </a>
      </div>
      <div class="post-item">
        <h2>Towards decentralized code collaboration</h2>
        <p class="meta">by <a href="https://twitter.com/cloudhead" target="_blank">@cloudhead</a> • <span>april 15th, 2020</span></p>
        <p class="snippet">An overview of Radicle, what we're building and why. Throughout the last decade, open source has become a standard for software development. Sharing code freely and publicly has made it drastically cheaper and easier to build software—and tech innovation is surging as a result. Code hosting and collaboration platforms like GitHub and GitLab have contributed heavily to the growth of open ...</p>
        <a class="read-more"href="/blog/towards-decentralized-code-collaboration.html">
          <button>Read more</button>
        </a>
      </div>
    </div>
  </div>
</body>


