<!doctype html>
<html>
<head>
  <title key="title">Radicle - Blog</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle Blog" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="blog">
  {{! different from > header because of active class }}
  <header>
  <a href="/" id="logo">
    {{> logo }}
  </a>
  <nav>
    <a href="/blog" class="active"><span>Blog</span></a>
    <a href="/community.html"><span>Community</span></a>
    <a href="https://docs.radicle.xyz" target="_blank"><span>Docs</span> ↗</a>
    <a href="https://github.com/radicle-dev" target="_blank"><span>Code</span> ↗</a>
    <a class="try-it" href="/downloads.html"><span>Try it</span> ↓</a>
  </nav>
</header>
  <div class="content">
    <div class="overview">
      <div class="post-item orgs">
        <a href="/blog/radicle-orgs.html">
          <h2 class="headline druk">Introducing Radicle Orgs</h2>
        <video autoplay playsinline loop muted alt="Hands shaking">
          <source type="video/mp4" src="/img/orgs-blog-post.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/abbey_titcomb" target="_blank">@abbey_titcomb</a> & <a href="https://twitter.com/ontologymachine" target="_blank">@ontologymachine</a> • <span>July 15th, 2021</span></p>
          <p class="snippet">Introducing Radicle Orgs, a decentralized code management tool for DAOs. Radicle Orgs are a platform-agnostic and more secure alternative to organizations on centralized forges like GitHub and Gitlab) … <a class="read-more" href="/blog/radicle-orgs.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item seeders">
        <a href="/blog/announcing-the-seeders-program.html">
          <h2 class="headline druk">Announcing the Seeders Program</h2>
        <video autoplay playsinline loop muted alt="Kid at a computer giving a thumbs up whent he Radicle token appears with fireworks around it.">
          <source type="video/mp4" src="/img/seeders-post/seeders.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@abbey_titcomb</a> • <span>February 22th, 2021</span></p>
          <p class="snippet">Today, we're announcing the launch of Radicle's Seeder Program. The Seeder Program is supporting the progressive decentralization of the Radicle network by cultivating a strong "root network" of individuals and projects … <a class="read-more" href="/blog/announcing-the-seeders-program.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item rad">
        <a href="/blog/introducing-rad.html">
          <h2 class="headline druk">Introducing RAD</h2>
        <video autoplay playsinline loop muted alt="Kid at a computer giving a thumbs up whent he Radicle token appears with fireworks around it.">
          <source type="video/mp4" src="/img/token.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@lftherios</a> • <span>February 17th, 2021</span></p>
          <p class="snippet">The Radicle project has released its native governance token, making it the first open-source, community-led, and self-sustaining network for software collaboration. The Radicle token is live! The official contract address is … <a class="read-more" href="/blog/introducing-rad.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item integrating">
        <a href="/blog/integrating-with-ethereum.html">
          <h2 class="headline druk">Integrating with Ethereum</h2>
        <video autoplay playsinline loop muted alt="Animation of the Ethereum symbol repeated infinitely into the expanse of space.">
          <source type="video/mp4" src="/img/ethereum.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/abbey_titcomb" target="_blank">@abbey_titcomb</a> • <span>February 17th, 2021</span></p>
          <p class="snippet">Today, we've deployed the first part of our Ethereum integration, an opt-in layer that complements the Radicle peer-to-peer network. Our Ethereum integration is a set of open protocols that enable unique global names, decentralized organizations, and features that help maintainers sustain their open-source… <a class="read-more" href="/blog/integrating-with-ethereum.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item collaborating">
        <a href="/blog/collaborating-on-radicle.html">
          <h2 class="headline druk">Collaborating on Radicle</h2>
        <video autoplay playsinline loop muted alt="Cartoon animation of shaking hands.">
          <source type="video/mp4" src="/img/shake.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@lftherios</a> • <span>December 20th, 2020</span></p>
          <p class="snippet">This is a post on Radicle, a peer-to-peer stack for code collaboration. When coming to Radicle from a centralized code collaboration network like GitHub or Gitlab, users might be puzzled by Radicle's unique social model at first. In contrast to centralized code collaboration platforms, on Radicle… <a class="read-more" href="/blog/collaborating-on-radicle.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item link">
        <a href="/blog/radicle-link.html">
          <h2 class="headline druk">How it Works:<br>Radicle Link</h2>
        <video autoplay playsinline loop muted alt="Animation showing the process of a metal chain being produced in a factory.">
          <source type="video/mp4" src="/img/link.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/cloudhead" target="_blank">@cloudhead</a> • <span>November 18th, 2020</span></p>
          <p class="snippet">This article dives into the architecture and design of Radicle Link&mdash;the peer-to-peer replication protocol that powers Radicle. We discuss our decision to build on Git, how we ensure data availability, and how we replicate data across the… <a class="read-more" href="/blog/radicle-link.html">Read more →</a></p>
        </div>
      </div>
      <div class="post-item codecollab">
        <a href="/blog/towards-decentralized-code-collaboration.html">
          <h2 class="headline druk">Towards Decentralized Code Collaboration</h2>
        <video autoplay playsinline loop muted alt="Animation of a lot of computers in a room with their screens flashing on and off.">
          <source type="video/mp4" src="/img/p2p.mp4">
        </video>
        </a>
        <div class="post-item-content">
          <p class="meta">by <a href="https://twitter.com/abbey_titcomb" target="_blank">@abbey_titcomb</a> • <span>April 15th, 2020</span></p>
          <p class="snippet">Throughout the last decade, open source has become a standard for software development. Sharing code freely and publicly has made it drastically cheaper and easier to build software—and tech innovation is surging as a result. Code hosting and collaboration platforms like GitHub and GitLab have contributed… <a class="read-more" href="/blog/towards-decentralized-code-collaboration.html">Read more →</a></p>
        </div>
      </div>
    </div>
  </div>
  {{> footer }}
</body>
