<!doctype html>
<html>
<head>
  <title key="title">Introducing RAD</title>
  {{> headMeta }}
</head>
<body id="post">
  <div class="overflow-killer">
   {{> header }}
    <div class="content">
      <section id="headline" class="rad">
        <h1 class="headline druk">
          Introducing RAD
        </h1>
        <p class="subtitle"> </p>
      </section>
      <div id="post-container">
        <p class="meta">by <a href="https://twitter.com/lftherios" target="_blank">@lftherios</a> • <span>February 17th, 2021</span></p>
        <h3>
         The Radicle project has released its native governance token, making it the first open-source, community-led, and self-sustaining network for software collaboration.
        </h3>
        <ul>
          <li>
            The Radicle token is live! The official contract address is: <a href="https://etherscan.io/token/0x31c8eacbffdd875c74b94b077895bd78cf1e64a3">0x31c8eacbffdd875c74b94b077895bd78cf1e64a3</a>
          </li>
          <li>
            50% of the total supply will be allocated to Radicle community members and users over time through the network’s treasury.
          </li>
          <li>
            An open proposal to make 4% of the total token supply available on a Balancer Liquidity Bootstrapping Pool is live for voting. If it passes, it will trigger a two-day community fundraiser, where the proceeds will be controlled by the treasury.
          </li>
        </ul>
        <p>
          The Radicle project was established with two main objectives:
        </p>
        <ol>
          <li>Develop resilient collaboration infrastructure that respects users freedoms, without a reliance on trusted gatekeepers nor on corporate or state overlords.</li>
          <li>Use the newly developed sovereign financial infrastructure (Bitcoin, Ethereum, DeFi) in order to create new value flows for developers and grow the digital commons.</li>
        </ol>
        <p>
          To accomplish both objectives there has always been one prerequisite: <b>make Radicle self-sustainable.</b>
        </p>
        <p>
          With over 1000 projects already published to the network and an average growth of 8% week-to-week in its public beta, the Radicle project is ready to decentralize the network among it’s community and begin the quest towards self-sustainability.
        </p>
        <h2>Why a token?</h2>
        <p>
          While the arguments for decentralization and censorship-resistance continue to strengthen, the case for decentralization goes beyond the tech. In the current era of the closed-source web, users have relinquished control of their privacy and software freedoms for a free and convenient gateway into the open Internet. Now, they are looking for alternatives as our global social platforms deteriorate due to societal pressure, lack of innovation, and the relentless extraction necessary to satisfy stakeholders.
        </p>
        <p>
          In this reality, building Radicle within the traditional paradigm, as for example a SaaS or open-core company, would force users to remain in a customer/corporation relationship, leaving them vulnerable to eventual extraction. Additionally, if Radicle is to be resilient collaboration infrastructure that truly respects user freedoms, it needs to be developed with trust-minimization in mind, be accessible to anyone in the world, all while remaining adaptive and competitive in a market with well-funded mega-corporations. The only way out of this pattern is to <b>build free and open source networks that are self-sustaining and community owned.</b>
        </p>
        <p>
          Operating by these constraints, the token-based sustainability models of today are the most promising path forward for self-sustenance of the Radicle network. More specifically, it’s the emergence of governance primitives within crypto-networks that present a new design space for engineering community-owned open-source protocols & networks. These primitives provide a foundation for a truly "open" open-source world, not one bound by arbitrary walls or delegated sanction rulings.
        </p>
        <p>
          For these reasons, the Radicle project will be moving forward as an open-source, community-led, and self-sustaining network for software collaboration. This vision will be realized by Radicle’s Ethereum integration — a set of open protocols that compliment the Radicle peer-to-peer network. It's smart contract system enables unique global names, decentralized organizations, and features that help maintainers sustain their open-source work. The integration’s smart contract system will be decentralized with the <b>Radicle token</b> — a governance token that will enable the collective governance and long-term sustainability of the Radicle network.
        </p>
        <h2>How it works</h2>
        <p>
          The Radicle token (RAD) is designed as a governance token that enables a number of features within the Radicle network as well as the communal ownership, collective governance, and long-term sustainability of the network.
        </p>
        <p>
          In short, the economic model of Radicle subjects users to fees when they interact with certain Ethereum-based protocols, unless they are members (token-holders). By buying (or being rewarded) and holding an amount of tokens, users can avoid (or have discounted) fees as well as participate in the governance of the network. Members maintain governing control over all Ethereum-based smart contracts and most importantly, the Radicle Treasury which holds more than >50% of the total token supply ($75M at the current network valuation).
        </p>
        <p>
          Anyone can become a member by buying and holding an amount of Radicle tokens, in exchange for the following benefits:
        </p>
        <ul>
          <li>
            Discounted or no fees when interacting with the Radicle's <a href="http://radicle.xyz/blog/integrating-with-ethereum.html">Ethereum-based protocols</a> like:
          </li>
          <li>
            The right to participate in governance, through voting and proposals, of the Radicle smart contract system.
          </li>
        </ul>
        <p>
          By giving Radicle users a functional reason to hold the token, they can progressively educate them on the benefits of governance and start establishing a new paradigm for the communal ownership of digital open-source infrastructure. If for any reason, they are unhappy with the network, they can “voice” by participating in governance or they can “exit” by selling their tokens to the market.
        </p>
        <h2>Governance</h2>
        <p>
          The Radicle governance module is a Compound fork, which gives owners the right to participate in the governance of the Radicle smart contracts. Explicitly, this means members can control and parameterize their membership experiences — whether it's by changing fees, upgrading contracts, or introducing new experiences.
        </p>
        <p>
          The <a href="https://compound.finance/">Compound</a> governance module was chosen because it's battle tested, audited, and balances executive power with community participation through its liquid delegation scheme.
        </p>
        <p>
          Similar to Compound, each RAD token is equal to one vote and voting is enabled by delegating voting rights to the address (or addresses) of the token holder's choice:
        </p>
        <ul>
          <li>The owner’s own wallet, if they would like to vote on their own.</li>
          <li>Another user's wallet, if they would like the other user to vote on their behalf.</li>
          <li>No wallet, if they don't want to vote.</li>
        </ul>
        <p>
          Anybody with 1% of RAD delegated to their address can propose a governance action. Proposals are executable code, not suggestions for a team or foundation to implement. All proposals are subject to a 3 day voting period, and any address with voting power can vote for or against the proposal
        </p>
        <p>
          <em>
          ✨ Delegation is live today on <a href="https://sybil.org/#/">sybil.org</a>.
          </em>
          INSERT VIDEO FROM SYBIL>ORG
        </p>
        <h2>Radicle Treasury</h2>
        <p>
          Similar to other decentralized protocols, opting-in to some of Radicle’s Ethereum features incurs network fees. These fees accrue in the Radicle Treasury, a smart contract where 50% of the overall token supply exists.
        </p>
        <p>
          The Treasury is entirely controlled by Radicle token holders via the Radicle DAO. Members will support the long-term sustainability of the network by coordinating the distribution of the Treasury’s supply via community programs and initiatives. These community programs (e.g. developer mining, contributor rewards, grants etc…) will emerge organically through the Radicle community as Radicle members use the Treasury to continuously support the growth and resilience of the network.
        </p>
        <p>
          The network’s code and treasury of assets are publicly managed fully in the open allowing any developer to contribute and influence the direction of the project, making Radicle an experiment in collective governance.
        </p>
        <h2>Token Allocation and Release Schedule</h2>
        <p>
          100M Radicle tokens (fixed) have been minted at genesis and will be vested over the course of 4 years.
        </p>
        <ul>
          <li>50% Treasury (vesting over 4 years)</li>
          <li>19% Team (4 year vesting from join date, 1 year progressive unlocking from genesis)</li>
          <li>20% Investors (1 year lock-up*)</li>
          <li>5% Foundation (1 year progressive unlocking from genesis)</li>
          <li>2% Seeders Program (1 year lock-up*)</li>
          <li>4% Community Fundraiser (in proposal mode**, immediately available)</li>
        </ul>
        <p>
          <em>* The lock-up release schedule varies based on jurisdiction.</em>
        </p>
        <p>
          <em>** All proceeds will go directly to the Radicle Treasury and will be fully controlled by token holders.</em>
        </p>
        <p>
          The Radicle project is supported by a group of amazing investors including Placeholder, Galaxy, NFX, Electric, Parafi, Hypersphere, BlueYard, Coinbase Ventures, 1kx and more. In addition, we have the support of multiple angel investors like Balaji Srinivasan, Naval Ravikant, Meltem Demirors as well as founders of crypto projects like Aave, TheGraph PolkaDot Coinmarketcap, and CoinGecko.
        </p>
        <h2>How to get involved</h2>
        <p>
          There is an active proposal in Radicle governance to initiate a Community Fundraiser to distribute a stake of the network among our community. If passed, 4% of the total token supply will be put in a Liquidity Bootstrapping pool on Tuesday, February 23rd at 4pm GMT. All proceeds will go directly to the Radicle Treasury and will be fully controlled by token holders. The fundraiser is expected to conclude after 2 days.
        </p>
        <p>
          <b>We will tweet the contract address from our <a href="https://twitter.com/radicle">official Twitter account</a> the day of the fundraiser if the proposal passes.</b>
        </p>
        <p>
          <em>
          Drop into the <a href="https://matrix.to/#/#token:radicle.community">#token channel</a> on our Matrix or subscribe to our Telegram channel (<a href="https://t.me/radicleworld">@radicleworld</a>) to discuss all things RAD. 
          </em>
        </p>
        <p>
          <em>
          Join our community forum, <a href="https://radicle.community/">radicle.community</a>, to discuss governance and Radicle development. 
          </em>
        </p>
        <h2> Contracts </h2>
        <ul>
          <li>Radicle Token: <a href="https://etherscan.io/token/0x31c8eacbffdd875c74b94b077895bd78cf1e64a3">0x31c8eacbffdd875c74b94b077895bd78cf1e64a3</a></li>
          <li>Governance: <a href="https://etherscan.io/address/0x5e4be8Bc9637f0EAA1A755019e06A68ce081D58F">0x690e775361AD66D1c4A25d89da9fCd639F5198eD</a></li>
          <li>Timelock: <a href="https://etherscan.io/address/0x8dA8f82d2BbDd896822de723F55D6EdF416130ba">0x8dA8f82d2BbDd896822de723F55D6EdF416130ba</a></li>
          <li>Genesis: <a href="https://etherscan.io/address/0x6838f63899728816f602B3e9bF73952e2bD6dc35">0x6838f63899728816f602B3e9bF73952e2bD6dc35</a></li>
          <li>Registrar: <a href="https://etherscan.io/address/0x37723287Ae6F34866d82EE623401f92Ec9013154">0x37723287Ae6F34866d82EE623401f92Ec9013154</a></li>
          <li>Radicle Token Icon</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
