<!doctype html>
<html>
<head>
  <title key="title">Introducing Radicle Orgs</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle Blog - Introducing Radicle Orgs" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Introducing Radicle Orgs, a decentralized code management tool for DAOs. Radicle Orgs are a decentralized, platform-agnostic, and more secure alternative to organizations on centralized forges (i.e. GitHub, Gitlab)…" />
  <meta name="description" content="Introducing Radicle Orgs, a decentralized code management tool for DAOs. Radicle Orgs are a decentralized, platform-agnostic, and more secure alternative to organizations on centralized forges (i.e. GitHub, Gitlab)… …" />
</head>
<body id="post">
  <div class="overflow-killer">
   {{> header }}
    <div class="content">
      <section id="headline" class="rad">
        <h1 class="headline druk">
          Introducing Radicle Orgs
        </h1>
        <p class="subtitle"> </p>
      </section>
      <div id="post-container">
        <p class="meta">by <a href="https://twitter.com/abbey_titcomb" target="_blank">@abbey_titcomb</a> & <a href="https://twitter.com/ontologymachine" target="_blank">@ontologymachine</a> • <span>July 15th, 2021</span></p>
        <video autoplay playsinline loop muted alt="Hands shaking">
          <source type="video/mp4" src="/img/orgs-blog-post.mp4">
        </video>
        <h2>
         Introducing Radicle Orgs, a decentralized code management tool for DAOs.
        </h2>
        <p>
          “Organizations” have become a must-have tool for any development team. Easily managing a set of repositories in a single place is a standard aspect of our day-to-day code collaboration experience. Unfortunately, when restrained by the social model of centralized forges, organizations come with limitations. The "super-user" admin model that gives individuals privileged access over an organization and its access control is a significantly limiting factor to projects and collectives that operate within non-hierarchical structures. It also poses challenges around security, trust, and liability for communities organizing over the Internet.
        </p>
        <p>
         Radicle Orgs are a decentralized, platform-agnostic, and more secure alternative to organizations on centralized forges like GitHub and Gitlab. Relying on smart contracts instead of admins, Radicle Orgs allow developers to define the rules and permissions around codebases in a trust-minimized way.
        </p>
        <p>
          <a href="https://docs.radicle.xyz/docs/connecting-to-ethereum/anchoring-projects.md">On-chain anchors</a> allow teams to maintain an auditable and transparent history of repositories on Ethereum. DAOs can now truly own their code with decentralized admin control and collective governance of codebases. Interactions with orgs can also be used as a basis for distributing developer rewards, releasing software, or making important upgrades to codebases.
        </p>
        <p>
          By framing DAOs and multi-sigs in the context of code collaboration, Radicle brings decentralized organizations to the mainstream developer, allowing anyone to decentralize control over their codebase in a trust-minimized way.
        </p>
        <h2>Radicle x Gnosis Safe</h2>
        <p>
          There are single-signer orgs (owned by one Ethereum address) or multi-signature orgs (owned by multiple Ethereum addresses). Multi-signature orgs are deployed with a <a href="https://gnosis-safe.io/">Gnosis Safe</a>. This means Radicle users can deploy Safes to govern their org via Radicle Upstream or <a href="https://app.radicle.network/">app.radicle.network</a>.
        </p>
        <p>
          “Our Gnosis Safe integration with Radicle Orgs gives DAOs access to a new superpower where membership, admin control, governance and canonical project state are truly decentralized,” explains Julien Donck who leads the team developing <a href="https://docs.radicle.xyz/docs/getting-started">Radicle Upstream</a>, the Radicle desktop client. “As a go-to primitive for DAOs, integrating with Gnosis Safe first was a no-brainer for us.”
        </p>
        <p>
          <a href="https://gnosis-safe.io/">Gnosis Safe</a> is a Web3 operating system for DAOs, teams, and individuals to manage digital assets. Its modular infrastructure enables users and developers to customize access control parameters and multi-sig permissions. Gnosis Safe’s functionality extends through the SafeSnap DAO module for on-chain execution of off-chain votes, and the Safe App ecosystem of dapps accessible directly from Safe’s secure interface.
        </p>
        <p>
          Widely used by Ethereum projects for treasury management, Gnosis Safe currently stewards <a href="https://duneanalytics.com/tschubotz/gnosis-safe_2">more than 40 billion USD</a>. Although Gnosis Safe’s primary use is as an out-of-the-box asset management and coordination platform, its open-source architecture can also be modified by projects seeking to adapt its tooling for their own needs.
        </p>
        <p>
          “We view Radicle Org’s deployment on Gnosis Safe as an exciting open-source use of our tooling for aligned purposes,” says Gnosis CTO Stefan George. “Gnosis Safe is already the platform of choice for DAOs conducting decentralized treasury and membership management, and our integration with Radicle expands that application on a deeper level that we believe will provide greater service to the community.”
        </p>
        <p>
          Building Radicle Orgs on Gnosis Safe’s composable architecture gives development teams the ability to manage and control membership, assets, and access rights to code repositories and other projects according to their needs.
        </p>
        <hr>
        <p>
          To get started with Radicle Orgs, download <a href="https://radicle.xyz/downloads.html">Radicle Upstream</a> and follow the instructions in our <a href="https://docs.radicle.xyz/docs/connecting-to-ethereum/creating-an-org">docs</a>. You can view and customize your orgs via <a href="https://app.radicle.network/">app.radicle.network</a>.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
