<!doctype html>
<html>
{{> head }}
<body id="terms">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <h1 class="headline druk privacy">BLOG POST 1</h1>
        <img class="headline-gif" src="../img/privacy.gif" alt="A pink and orange flower blooming.">
      </section>
      <p>test</p>

    </div>
  </div>
</body>
</html>
