<!doctype html>
<html>
<head>
  <title key="title">Radicle - 404</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Peer-to-peer code collaboration" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="not-found">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted>
          <source type="video/mp4" src="/img/404.mp4">
        </video>
        <h1 class="headline druk">404</h1>
        <h2>Page not found.</h2>
        <a href="/">
          <button class="subscribe-button">Back to the site</button>
        </a>
      </section>
    </div>
  </div>
</body>
</html>
