<!doctype html>
<html>
<head>
  <title key="title">Radicle - Try it</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Brand" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="brand">
<header>
    <a href="/" id="logo">
        {{> logo }}
    </a>
    <nav>
        <a href="/blog"><span>Blog</span></a>
        <a href="/community"><span>Community</span></a>
        <a href="https://docs.radicle.xyz" target="_blank"><span>Docs</span> ↗</a>
        <a href="https://github.com/radicle-dev" target="_blank"><span>Code</span> ↗</a>
        <a href="/tryit"><span>Try it</span> ↓</a>
    </nav>
</header>
<div class="content">
    <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted title="Animation of a flower growing.">
      <source type="video/mp4" src="/img/brand.mp4">
    </video>
    <h1 class="headline druk">Access Radicle</h1>
    <div id="disclaimers">
      <p>In a way, the Radicle brand is defined by its community. Our community and core team are an exciting and creative bunch. The brand was born from a community that's extremely online, so it was made to look like that too.</p>
    </div>
    <div id="blocks">
      <div class="card-block">
        <h1>Desktop</h1>
        <h2>A desktop client for Radicle.</h2>
        <p>Check out the <a href="https://docs.radicle.xyz/docs/getting-started" target="_blank"><span>Guide to Getting Started</span></a>.</p>
        <a href="https://releases.radicle.xyz/radicle-upstream-{{> upstream-version }}.dmg">
          <button>{{> svg-mac }} Download for macOS</button>
        </a>
        <a href="https://releases.radicle.xyz/radicle-upstream-{{> upstream-version }}.AppImage">
          <button>{{> svg-linux }} Download for Linux</button>
        </a>
        <form
          action="mailto:?subject=Download the Radicle app&body=When you get back to your computer download the app here: www.radicle.xyz/tryit.html"
          method="POST"
          enctype="text/plain"
        >
          <button id="email-me">{{> svg-email }} Email me a link</button>
        </form>
      </div>
      <div class="card-block">
        <h1>Web</h1>
        <h2>A web client for Radicle.</h2>
        <p><strong>Radicle Interface</strong> is an open source web-based client enabling Users to access Radicle-Link and the Radicle’s smart contract system.</p>
        <a href="https://app.radicle.network">
          <button>{{> svg-everywhere }} Visit app.radicle.network</button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
