<!doctype html>
<html>
<head>
  <title key="title">Radicle 🎨 Brand</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Brand" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="brand">
{{> header }}
<div class="content">
    <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted title="Animation of Bob Ross painting.">
      <source type="video/mp4" src="/img/brand.mp4">
    </video>
    <h1 class="headline druk">Happy Little Accidents</h1>
    <h2>In a way, the Radicle brand is defined by its community. Our community and core team are an exciting and creative bunch. The brand was born from a community that’s extremely online, so it was made to look like that too.</h2>
    <div id="blocks">
      <div class="card">
        <div class="image">
          <img src="img//brand/card-logo.png" alt="The Radicle logo. A green seedling inside a blue circle.">
        </div>
        <p>The main wordmark is made of simple geometric forms. It’s meant to let the content remain the focus. It isn’t typically paired with the token symbol.</p>
        <div class="pills">
          <a href="img/brand/radicle-logo.svg" download>{{> svg-download }}SVG</a>
          <a href="img/brand/radicle-logo-white.png" download>{{> svg-download }}White PNG</a>
          <a href="img/brand/radicle-logo-black.png" download>{{> svg-download }}Black PNG</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/brand/card-token.png" alt="The Radicle token symbol. A green seedling inside a blue circle.">
        </div>
        <p>The token symbol, which also can be used to represent Radicle generally. It comes in many colors but blue and green are the standard coloring.</p>
        <div class="pills">
          <a href="img/brand/token-logo.svg" download>{{> svg-download }}SVG</a>
          <a href="img/brand/token-logo.png" download>{{> svg-download }}PNG</a>
          <a href="img/brand/token-logo-sunset.png" download>{{> svg-download }}Sunset PNG</a>
        </div>
      </div>
    </div>
    <h2>Although there aren’t any style requirements for products built on the Radicle stack, if you want to use the Radicle style guide, it’s pretty simple.</h2>
  </div>
    <div id="blocks">
      <div class="card">
        <div class="image">
          <img src="img/brand/card-typography.png" alt="Examples letters from the Inter font.">
        </div>
        <h4><strong>Typography</strong></h4>
        <p>Radicle uses Inter by Rasmus Andersson. It’s a free and open source UI font that’s simple, straightforward, and easy to use.</p>
        <div class="pills">
          <a href="https://github.com/rsms/inter/releases/download/v3.19/Inter-3.19.zip">{{> svg-download }}Download</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/brand/card-colors.png" alt="Examples letters from the Inter font.">
        </div>
        <h4><strong>Colors</strong></h4>
        <p>Although there is no single color for Radicle, color does play a big role. Gradients are fun. Use them sparingly.</p>
        <div class="pills">
          <a href="img/brand/radicle-colors.svg" download>{{> svg-download }}SVG</a>
          <a href="https://www.figma.com/file/r10FybZrsDKEA7T1bhtAVL/%F0%9F%8E%A8-Colors?node-id=735%3A309" target="_blank">{{> svg-arrowBoxUpRight }}Figma</a>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="img/brand/card-icons.png" alt="Examples letters from the Inter font.">
        </div>
        <img id="typing" src="img/brand/typing.gif" alt="">
        <h4><strong>Icons</strong></h4>
        <p>Some Radicle apps use a custom icon set drawn by the core team. It’s clear but still opinionated and best of all: open.</p>
        <div class="pills">
          <a href="img/brand/icons-svg-flat.zip" download>{{> svg-download }}SVGs</a>
          <a href="img/brand/icons-png.zip" download>{{> svg-download }}PNGs</a>
          <a href="https://www.figma.com/file/owmgsbs6lnUt8R1bixstCA/Radicle-Upstream?node-id=3554%3A17" target="_blank">{{> svg-arrowBoxUpRight }}Figma</a>
        </div>
      </div>
    </div>
    <h2>That’s all for now. 🌱 Need anything else? Find us on <a href="https://discord.com/channels/841318878125490186/843873418205331506">Discord</a>.</h2>
    <img src="img/brand/people-cheering.gif" alt="Crude 3D animation of a crowd of people cheering.">
    <div id="art-land">
      <img id="pirate-flag" src="img/brand/pirate-flag.gif" alt="">
      <h2>Thanks for visiting. Here are some roses. We love you.</h2>
      <img id="rose" src="img/brand/rose.gif" alt="A spinning red rose.">
      <h2>is it getting bright in here … or is it just me?<br><br>hello?</h2>
      <img src="img/brand/snake.gif" alt="A flash of lightning.">
      <img id="lightning" src="img/brand/lightning.gif" alt="A flash of lightning.">
      <h2 class="white">wait what is this? where am i?</h2>
      <h2 class="white">you are here…</h2>
      <img src="img/brand/earth.gif" alt="A 3d rotating earth.">
      <h2 class="white">welcome to the brand zone
      <br>
      <img id="fun-time" src="img/brand/fun-time.gif" alt="Funky letters bouncing that says its fun time.">
      <br>
      a peak behind the curtain, if you will</h2>
      <img id="butterflies" src="img/brand/butterflies.gif" alt="Colorful little butterflies.">
      <img id="wifi" src="img/brand/wifi.gif" alt="A spinning rainbow-colored wifi symbol.">
      <img id="gecko" src="img/brand/gecko.gif" alt="A dancing gecko!">
      <img id="alien" src="img/brand/alien.gif" alt="A dancing alien!">
      <img id="toilet" src="img/brand/toilet.gif" alt="A spinning toilet.">
      <img id="diamond" src="img/brand/diamond.gif" alt="A spinning diamond.">
      <img id="sorry" src="img/brand/sorry.gif" alt="A spinning diamond.">
      <h2 class="white">Well that was fun. And if you’re interested enough to scroll through that, then you might be interested in the story behind the Radicle brand. You can read that on <a href="https://twitter.com/brandonhaslegs/status/1334207549273419777" target="_blank">Twitter</a>.
      <br><br>If you feel like making this page cooler, toss a GIF in <a href="https://github.com/radicle-dev/radicle.xyz" target="_blank">the repo</a>!</h2>
    </div>
</body>
</html>
