<!doctype html>
<html lang=“en”>
<head>
  <title key="title">Radicle - Community</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Peer-to-peer code collaboration" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="community">
  <div class="overflow-killer">
      {{! different from > header because of active class }}
      <header>
      <a href="/" id="logo">
        {{> logo }}
      </a>
      <nav>
        <a href="/blog"><span>Blog</span></a>
        <a href="/community.html" class="active"><span>Community</span></a>
        <a href="https://docs.radicle.xyz" target="_blank"><span>Docs</span> ↗</a>
        <a href="https://github.com/radicle-dev" target="_blank"><span>Code</span> ↗</a>
        <a class="try-it" href="/downloads.html"><span>Try it</span> ↓</a>
      </nav>
    </header>
    <div class="content">
      <section id="headline">
        <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted title="Animation of a flower growing.">
          <source type="video/mp4" src="/img/community.mp4">
        </video>
          <h1 class="headline druk">We out here</h1>
        </section>
        <div class="subtitle-container">
          <h2>The community exists in various places. Join us!</h2>
        </div>
      </section>

      <section id="features">

        <div class="container attributes">

          <div class="attribute">
            <div class="content">
              <h4>Discord</h4>
              <p>Most conversations in the community are happening here. The core team is very active and typically responds to questions in real time.</p>
              <p><a href="https://discord.gg/HRdnwAwGbG" target="_blank"><span>discord.gg/HRdnwAwGbG</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/discord.png" alt="">
            </div>
          </div>

          <div class="attribute">
            <div class="content">
              <h4>Discourse</h4>
              <p>The hub for all longer-form discussions about the project. The team uses it regularly to share <a href="https://radicle.community/t/monthly-update-3-24/2135" target="_blank">project-wide announcements</a>, <a href="https://radicle.community/t/radicle-upstream-v0-2-4-is-out/2329" target="_blank">releases</a>, <a href="https://radicle.community/t/feature-update-orgs/2132" target="_blank">feature updates</a>, and more.</p>
              <p><a href="https://radicle.community" target="_blank"><span>radicle.community</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/discourse.png" alt="">
            </div>
          </div>

          <div class="attribute">
            <div class="content">
              <h4>Twitter</h4>
              <p>We use our Twitter to share announcements & project-wide updates, as well as amplify Radicle-aligned messaging from partnerships and the greater ecosystem. We don't offer support here.</p>
              <p><a href="https://twitter.com/radicle" target="_blank"><span>@radicle</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/twitter.png" alt="">
            </div>
          </div>

          <div class="attribute">
            <div class="content">
              <h4>GitHub</h4>
              <p>All Radicle development is open-source and public by default. The radicle-dev GitHub is consistently active and is the best place to see what the team is working on. This includes roadmaps and planning documents (i.e. the <a href="https://github.com/radicle-dev/radicle-upstream/issues/2146" target="_blank">Cycle Plan</a> issue).</p>
              <p><a href="https://github.com/radicle-dev" target="_blank"><span>github.com/radicle-dev</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/github.png" alt="">
            </div>
          </div>

          <div class="attribute">
            <div class="content">
              <h4>Matrix</h4>
              <p>Some of the core team uses this to communicate, and our Discord is mirrored here, information shared here is basically the same as Discord.</p>
              <p><a href="https://matrix.radicle.community" target="_blank"><span>matrix.radicle.community</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/matrix.png" alt="">
            </div>
          </div>

          <div class="attribute">
            <div class="content">
              <h4>Telegram</h4>
              <p>Larger announcements are posted in our official Telegram channel. There are also other channels sprouting up which are quite active.</p>
              <p><a href="https://t.me/radicleworld" target="_blank"><span>t.me/radicleworld</span></a></p>
              <p><a href="https://t.me/radicleThailand" target="_blank"><span>t.me/radicleThailand</span></a></p>
            </div>
            <div class="screenshot">
              <img src="/img/community/telegram.png" alt="">
            </div>
          </div>

        </div>
      </section>

    {{> footer }}
</body>
</html>
