<!doctype html>
<html>
{{> head }}
<body id="index">
  {{> header }}
  <div class="docs-page">
    <aside class="side-bar">
      <nav>
        <a href="/"><span>Introduction</span> ↗</a>
        <a href="/"><span>Radicle Link</span> ↗</a>
        <a href="/"><span>Radicle Registry</span> ↗</a>
        <a href="/"><span>Why Radicle</span> ↗</a>
        <a href="/"><span>Try it</span> ↗</a>
        <a href="/"><span>Developers</span> ↗</a>
      </nav>
    </aside>
    <section class="main-content">
      <h1>Introduction</h1>
      <p>
        Welcome to the Radicle docs! Whether you’re coming across Radicle for the first time or looking to dig into how the Radicle stack works from a technical perspective, you’re in the right place.
      <p>
        For a technical overview of Radicle, including some of the architectural choices we’ve made, a good place to start is the Radicle P2P architecture section below.
      </p>
      <p>
        If you want to dive straight in and play around with Radicle for yourself, follow the installation instructions and then the Radicle Tutorial in the docs below.
      </p>
    </section>
  </div>
  {{> footer }}
</body>
</html>
