<!doctype html>
<html>
{{> head }}
<body id="download">
  <div class="overflow-killer">
    {{> header }}
    <img class="headline-gif gif" src="./img/download-flower.gif" alt="Animation of a flower growing.">
    <div class="content">
      <section>
        <div id="text">
          <h1>Upstream <span>Beta</span></h1>
          <h2>A desktop client for Radicle.</h2>
          <p>Check out our <a href="#" target="_blank"><span>Guide to Getting Started</span></a>.</p>
          <button>{{> svg-mac }} Download for MacOS</button>
          <button>{{> svg-linux }} Download for Linux</button>
        </div>
      </section>
      <section class="screenshot">
        <img class="float" id="download-screenshot" src="./img/ui/download-screenshot.png" alt="Screenshot of a README file on the project page.">
      </section>
    </div>
  </div>
</body>
</html>
