<!doctype html>
<html>
{{> head }}
<body id="download">
  {{> header }}

  <div class="content">

    <img class="headline-gif gif" src="./img/download-flower.gif" alt="Animation of a flower growing.">

    <h1 class="headline druk">Try the beta</h1>

    <div id="text">
      <h1>Upstream <span>Beta</span></h1>
      <h2>A desktop client for Radicle.</h2>
      <p>Check out our <a href="https://docs.radicle.xyz/docs/getting-started/getting-started" target="_blank"><span>Guide to Getting Started</span></a>.</p>
      <button>{{> svg-mac }} Download for MacOS</button>
      <button>{{> svg-linux }} Download for Linux</button>
      <form action="mailto:?subject=Download%20the%20Radicle%20app&amp;body=When%20you%20get%20back%20to%20your%20computer%20&#44;%20download%20the%20app%20here:%20www.radicle.xyz/downloads.html"><button id="email-me">{{> svg-email }} Email me a link</button></form>
    </div>
  </div>
</body>
</html>
