<!doctype html>
<html lang=“en”>
<head>
  <title key="title">Radicle - Peer-to-peer code collaboration.</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Peer-to-peer code collaboration" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="index">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted title="Animation of a flower growing.">
          <source type="video/mp4" src="/img/header-flower.mp4">
        </video>
        <h1 class="headline druk">Free your code</h1>
        <div id="download-cta">
          <p><strong>Radicle is a peer-to-peer stack for building software together.</strong> Sound fun? <a href="downloads.html" class="download-btn">Try the beta</a></p>
        </div>
      </section>

      <section id="features">
        <img class="ui full-width" src="/img/ui/project-source-laptop.png" alt="Screenshot of a README file on the project page." />
        <video disableRemotePlayback class="features-gif gif" autoplay playsinline loop muted title="Animation of a cartoon typing very fast. Each of his fingers split into 3 smaller cyborg fingers allowing him to type even faster.">
          <source type="video/mp4" src="/img/extending-hands.mp4">
        </video>

        <h1 class="druk">Code collaboration + Web3 = 🌱</h1>
        <div class="subtitle-container">
          <h2>For unstoppable, permissionless, decentralized open-source development</h2>
        </div>

        <div class="container attributes">

          <div class="attribute collab-p2p">
            <div class="content">
              <h4>Collaborate peer-to-peer</h4>
              <p>Forget platforms. Easily share your code without relying on a third party.</p>
              <p>{{> svg-offline }} No central servers, no censorship</p>
              <p>{{> svg-no-downtime }} Built on Git, backed by public-key crypto</p>
              <p>{{> svg-network }} Local issues & patches</p>
            </div>
            <div class="screenshot">
              <img class="float remotes" src="/img/ui/manage-remotes.png" alt="">
            </div>
          </div>

          <div class="attribute work-offline">
            <div class="content">
              <h4>Manage your codebases on-chain</h4>
              <p>Decentralize open source projects with Ethereum-powered Radicle Orgs.</p>
              <p>{{> svg-issues }} Manage access control with smart contracts</p>
              <p>{{> svg-git }} Share ownership of repos with multi-sigs</p>
              <p>{{> svg-key }} Anchor project state on-chain</p>
            </div>
            <div class="screenshot">
              <img class="float" src="/img/ui/revision-status.png" alt="">
            </div>
          </div>

          <div class="attribute own-infrastructure">
            <div class="content">
              <h4>Own your infrastructure</h4>
              <p>Software as it should be. <br />Take back control.</p>
              <p>{{> svg-free }} Free forever</p>
              <p>{{> svg-open-source }} Completely open source</p>
              <p>{{> svg-everywhere }} Available everywhere</p>
            </div>
            <div class="screenshot">
              <img class="float" src="/img/ui/profile.png" alt="">
            </div>
          </div>

          <div class="attribute create-community">
            <div class="content">
              <h4>Create with your <br/> community</h4>
              <p>Support and be supported — a crypto-native take on open-source sustainability.</p>
              <p>{{> svg-heart }} Fund communities with NFT membership</p>
              <p>{{> svg-currency }} Sponsor projects and participate in community governance</p>
              <p>{{> svg-pen }} Build your own value flows</p>
            </div>
            <div class="screenshot">
              <img class="float" src="/img/ui/incoming-support.png" alt="">
            </div>
          </div>

        </div>
      </section>

      <section id="protocols">
        <div class="container">
          <h1 class="druk">No more walled gardens</h1>
          <div class="subtitle-container">
            <h2>Built on open protocols, not platforms</h2>
          </div>
          <video disableRemotePlayback class="protocol-gif gif" autoplay playsinline loop muted>
            <source type="video/mp4" src="/img/garden.mp4">
          </video>
          <div class="protocols">
            <div class="protocol">
              <h3>Git</h3>
              <p>No need to change the way you work. Radicle extends Git with peer-to-peer discovery, giving distributed version control a new superpower.</p>
              {{> svg-git }}
            </div>
            <div class="protocol">
              <h3>Radicle<br>Link</h3>
              <p>The new standard for code collaboration. Link is the peer-to-peer protocol that powers the Radicle network.
                <span class="links">
                  <a href="https://docs.radicle.xyz" target=><span>Documentation</span> ↗</a>
                </span>
              </p>
              {{> svg-link }}
            </div>
            <div class="protocol">
              <div>
                <h3>Ethereum</h3>
                <span>(opt-in)</span>
              </div>
              <p>Harness the power of decentralized organizations and digital money. Fund and sustain your open-source work without relying on intermediaries.</p>
              {{> svg-eth }}
            </div>
          </div>
        </div>
      </section>

      <section id="codelands">
        <div class="container">
          <h1 class="druk">Explore the codelands</h1>
          <video disableRemotePlayback class="codelands-gif gif" autoplay playsinline loop muted>
            <source type="video/mp4" src="/img/blue-screen-of-death-walk.mp4">
          </video>
          <div class="two-column">
            <div class="two-column-item">
              <h3>Join the Community</h3>
              <p>We’re building everything publicly and open-source.</p>
              <br>
              <br>
              <p><a target="_blank" href="https://radicle.xyz/community.html"><span>Hang out with us</span></a></p>
            </div>
            <div id="download" class="two-column-item">
              <h3>Try out the beta</h3>
              <p>Join the network and give secure peer-to-peer code hosting a go with the first version of our desktop client.</p>
              <br>
              <a href="/downloads.html"><span>Download the beta</span> ↓</a>
            </div>
          </div>
        </div>
      </section>

      <section id="timeline">
        <div class="container">
          <h1 class="druk"><span class="italic">Where we’re headed</span>→</h1>
          <div class="subtitle-container">
            <h2>We see Radicle being the first open-source, community-led, self-sustaining network for software collaboration. Here's what we have in store:</h2>
          </div>
          <video disableRemotePlayback class="timeline-gif gif" autoplay playsinline loop muted>
            <source type="video/mp4" src="/img/roadmap-flower.mp4">
          </video>
          <div class="timeline">
            <div class="line"></div>
            <div class="timeline-item not-active">
              <p class="not-here">not here</p>
              <div class="icon">
                {{> svg-date-square }}
              </div>
              <p class="date">Late 2020</p>
              <h3>Starting with the basics</h3>
              <p>The first release of our network and desktop client. Join the network and start securely hosting your code peer-to-peer.</p>
            </div>
            <div class="timeline-item not-active">
              <p class="not-here">not here</p>
              <div class="icon">
                 {{> svg-date-square }}
              </div>
              <p class="date">Early 2021</p>
              <h3>Going further <br />with Ethereum</h3>
              <p>Register global names, collectively manage orgs, and link crypto wallets with our Ethereum integration.</p>
            </div>
            <div class="timeline-item">
              <p class="here">We’re here</p>
              <div class="icon last">
                 {{> svg-here }}
              </div>
              <p class="date">Mid 2021</p>
              <h3>Leveling up with social coding</h3>
              <p>Code collaboration as you know it. Work better together with bug reporting, code reviews, and discussions — all locally hosted.</p>
            </div>
          </div>
        </div>
        </section>
    </div>{{! closes content }}
    {{> footer }}
</body>
</html>
