<!doctype html>
<html lang=“en”>
<head>
  <title key="title">Radicle - Peer-to-peer code collaboration.</title>
  {{> headMeta }}
  <meta property="og:title" content="Radicle - Peer-to-peer code collaboration" />
  <meta property="og:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="twitter:image" content="https://radicle.xyz/img/social-share.jpg" />
  <meta property="og:description" content="Radicle is a peer-to-peer stack for building software together." />
  <meta name="description" content="Radicle is a peer-to-peer stack for building software together." />
</head>
<body id="index">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">

      <section id="headline">
        <video disableRemotePlayback class="headline-gif gif" autoplay playsinline loop muted title="Animation of a flower growing.">
          <source type="video/mp4" src="/img/header-flower.mp4">
        </video>
        <h1 class="headline druk">Free your code</h1>
        <div id="try-it-cta">
          <p>
            Radicle 🌱 enables developers to securely 🔐 collaborate 🤝 on software over a peer-to-peer 👥 network 🌐 built on Git.
          </p>
        </div>
      </section>{{! closes headline }}

      <section id="radicle-intro">
        <div class="callout-text-container">
          <h2>The Radicle Network</h2>
          <p class="big">
            On Radicle, your code is hosted on Radicle Seed Nodes. The Radicle Foundation maintains public seed nodes you can use, or you can host your own.
          </p>
        </div>
      </section>{{! closes intro }}

      <section id="workflows">
        <div class="callout-text-container">
          <h2>Familiar workflows</h2>
          <p class="big">
            If you’ve used Git before, you’ll feel right at home. Push and pull from and to seed nodes with familar commands like <code>rad push</code> and <code>rad pull</code>.
          </p>
          <div class="cta-block">
            {{> svg-network }}
            <h3>Discover projects on the Radicle Network</h3>
            <p>
              Use the radicle.network app to browse repositories hosted on Seed Nodes.
            </p>
            <a class="button" target="_blank" href="https://app.radicle.network/">Explore the codelands</a>
          </div>
        </div>
        <div class="right">
          <img src="img/home/cli.png" alt="">
        </div>
      </section>{{! closes workflows }}

      <section id="identity">
        <div class="callout-text-container">
        <h2>Self-sovereign identity</h2>
        <p class="big">
          Everything you do on Radicle is backed by public-key cryptography. Create your Radicle Identity with our CLI, and use it across the Radicle Network.
        </p>
        <div class="cta-block">
          {{> svg-user }}
          <img src="icon-identity.png" alt="">
          <h3>Create your Radicle identity</h3>
          <p>
            Use the Radicle CLI’s <code>rad auth</code> command to set up a new Radicle Identity.
          </p>
          <a class="button" href="https://radicle.network/get-started.html" target="_blank">Get the CLI</a>
        </div>
        </div>
        <div class="right">
          <img src="identity.png" alt="">
        </div>
      </section>{{! closes identity }}

      <div class="closing-box">
        <div class="left">
          <h2>The Radicle DAO</h2>
          <p>
            What is the DAO? What does it do? How do I get involved?
          </p>
          <div class="links">
            <a class="button" target="_blank" href="https://radicle.community/c/governance/16">View proposals</a>
            <a class="button" target="_blank" href="https://gov.radicle.network/#/delegates/radicle">Vote now</a>
          </div>
        </div>
        <div class="right">
          <img src="img/brand/token-logo.png" alt="The RAD Token Logo. A green seedling in a blue circle.">
        </div>
      </div>{{! closes closing box }}
      
      <div class="closing-box">
        <div class="left">
          <h2>Community</h2>
          <p>
            The Radicle community exists in many places.
          </p>
          <a class="button" href="#">Join us</a>
        </div>
      </div>{{! closes closing box }}

    </div>{{! closes content }}
    {{> footer }}
</body>
</html>
