<!doctype html>
<html>
{{> head }}
<body id="index">
  {{> header }}
  <div class="content">

    <section id="headline">
      <img class="headline-gif" src="../img/header-flower.gif" alt="Animation of a flower growing.">
      <h1 class="headline druk">Locally sourced.</h1>
      <h2 class="blend"><span>A peer-to-peer stack for</span> building software together.</h2>
    </section>

    <section id="get-the-app">
      <div class="container">
        <div class="email-signup">
          <p><strong>Sound fun?</strong> Join the mailing list to find out about future releases.</p>
          <form class="main-cta" action="https://formspree.io/xrgbwygl" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required />
            <button type="submit">Join</button>
            <input type="hidden" name="_subject" value="Subscription" />
            <input type="hidden" name="_format" value="plain" />
            <input type="hidden" name="_next" value="/subscribed.html" />
          </form>
        </div>
      </div>
    </section>

    <section id="horizontal-scroll-wrapper">
      <div class="horizontal-scroll-content">
        <img class="ui full-width float project-source" src="../img/ui/project-source.png" alt="Screenshot of a README file on the project page." />
        <img class="ui float sidebar sidebar1" src="../img/ui/sidebar1.png" alt="Screenshot of the issue sidebar assigned to 1 user and tagged with 'good-first-issue.'" />
        <img class="ui float sidebar sidebar2" src="../img/ui/sidebar2.png" alt="Screenshot of the issue sidebar assigned to 2 users and tagged with 'security' and 'feature.'" />
        <img class="ui float sidebar sidebar3" src="../img/ui/sidebar3.png" alt="Screenshot of the issue sidebar assigned to 2 users and tagged with 'bug' 'ui' and 'feature-request.'" />
        <img class="ui issue-list" src="../img/ui/issue-list.png" alt="Screenshot of a list of open and closed issues." />
        <img class="ui full-width float issue" src="../img/ui/issue.png" alt="Screenshot of the issue page with comments." />
        <img class="ui revision-timeline" src="../img/ui/revision-timeline.png" alt="Screenshot of a timeline of commits and comments." />
        <img class="ui float revision-status" src="../img/ui/revision-status.png" alt="Screenshot of an unmerged but approved revision with no merge conflicts." />
        <img class="ui float keyboard-shortcuts" src="../img/ui/keyboard-shortcuts.png" alt="Screenshot of the keyboard shortcuts modal.">
        <img class="ui float checkout" src="../img/ui/checkout.png" alt="Screenshot of the checkout modal.">
        <img class="ui full-width float profile" src="../img/ui/profile.png" alt="Screenshot of the user profile.">
        <img class="avatar flamingo" src="../img/ui/avatar-flamingo.png" alt="Flamingo avatar.">
        <img class="avatar confetti" src="../img/ui/avatar-confetti.png" alt="Confetti avatar.">
        <img class="avatar poop" src="../img/ui/avatar-poop.png" alt="Poop avatar.">
        <img class="avatar watermelon" src="../img/ui/avatar-watermelon.png" alt="Watermelon avatar.">
        <img class="avatar donut" src="../img/ui/avatar-donut.png" alt="Donut avatar.">
        <img class="avatar hotdog" src="../img/ui/avatar-hotdog.png" alt="Hotdog avatar.">
        <img class="avatar cheese" src="../img/ui/avatar-cheese.png" alt="Cheese avatar.">
        <img class="ui float new-project" src="../img/ui/new-project.png" alt="Screenshot of the new project modal.">
        <img class="ui spacer" src="../img/ui/spacer.png" alt="Image used for spacing the layout.">
      </div>
      <img class="horizontal-scroll-gif" src="../img/extending-hands.gif" alt="Animation of a cartoon typing very fast. Each of his fingers split into 3 smaller cyborg fingers allowing him to type even faster.">
    </section>

    <section id="features">
      <div class="container">
        <div class="attribute">
          <div class="attribute-title">
            <div>
              <h4>Peer-to-peer</h4>
              <p>No servers. No platforms. Share your code without relying on a third party.</p>
            </div>
            <img class="att-gif rotate" src="../img/pirate-flag.gif" alt="">
          </div>
          <div class="attribute-features">
            <div>
              <p>{{> svg-no-downtime }} No downtime</p>
              <p>{{> svg-everywhere }} Available everywhere</p>
              <p>{{> svg-eye }} Censorship-resistant</p>
              <p>{{> svg-free }} Free forever</p>
            </div>
          </div>
        </div>

        <div class="attribute">
          <div class="attribute-features">
            <div>
              <p>{{> svg-user }} Cryptographic peer identities</p>
              <p>{{> svg-check }} Signed issues and code reviews</p>
              <p>{{> svg-multi-device }} Multi-device support</p>
              <p>{{> svg-key }} Verifable ownership proofs</p>
            </div>
          </div>
          <div class="attribute-title">
            <div>
              <h4>Secure by design</h4>
              <p>No need to trust anyone to keep your work safe. Everything is backed by public key cryptography.</p>
            </div>
            <img class="att-gif" src="../img/key-guy.gif" alt="">
          </div>
        </div>

        <div class="attribute">
          <div class="attribute-title">
            <div>
              <h4 class="att-title">Local-first</h4>
              <p>All of your issues, revisions, and reviews exist on your computer. You own your data — nobody else.</p>
            </div>
            <img class="att-gif rotate" src="../img/winking-computer.gif" alt="">
          </div>
          <div class="attribute-features">
            <div>
              <p>{{> svg-issues }} Manage issues locally</p>
              <p>{{> svg-loading }} No load times</p>
              <p>{{> svg-offline }} Work offline</p>
              <p>{{> svg-desktop }} Runs on your machine</p>
            </div>
          </div>
        </div>

        <div class="attribute">
          <div class="attribute-features">
            <div>
              <p>{{> svg-heart }} Fund projects and users</p>
              <p>{{> svg-currency }} Get paid for your work</p>
              <p>{{> svg-pen }} Form orgs independent of platforms</p>
              <p>{{> svg-network }} Create and redistribute wealth</p>
            </div>
          </div>
          <div class="attribute-title">
            <div>
              <h4>For the collective</h4>
              <p>Support and be supported. Designed for sustainability.</p>
            </div>
            <img class="att-gif" src="../img/purple-heart.gif" alt="">
          </div>
        </div>

      </div>
    </section>

    <section id="protocols">
      <div class="container">
        <div class="links">
          <a href="/"><span>source code</span> ↗</a>
          <a href="/"><span>documentation</span> ↗</a>
        </div>
        <h1 class="druk">No more walled gardens.</h1>
        <div class="subtitle-container">
          <h2>Built on open protocols, not platforms.</h2>
        </div>
        <img class="protocol-gif" src="../img/garden.gif">
        <div class="protocols">
          <div>
            <h3 class="druk">Git</h3>
            <p>No need to change the way you work. Radicle extends Git with peer-to-peer networking, giving distributed version control a new superpower.</p>
            {{> svg-git }}
          </div>
          <div>
            <h3 class="druk">Radicle Link</h3>
            <p>The new standard for code collaboration. Link is the peer-to-peer protocol that powers the Radicle Network. A network that everyone can use and no one can take down.</p>
            {{> svg-link }}
          </div>
          <div>
            <h3 class="druk">Ethereum<span>(opt-in)</span></h3>
            <p>Harness the power of global identities and digital money. Fund and sustain your open source work without relying on intermediaries. </p>
            {{> svg-eth }}
          </div>
        </div>
      </div>
    </section>

    <section id="codelands">
      <div class="container">
        <h1 class="druk">Explore the codelands.</h1>
        <img class="codelands-gif" src="../img/blue-screen-of-death-walk.gif" alt="">
        <div class="two-column">
          <div class="two-column-item community">
            <h3 class="druk">Join the  Community</h3>
            <p>Everything is open-source and public by default.</p>
            <br>
            <p>Drop in the #radicle channel on freenode</p>
            <p>Join our <a href="/"><span>radicle.community</span></a>.</p>
          </div>
          <div class="two-column-item beta" id="download">
            <h3 class="druk">Try out the beta</h3>
            <p>Interested in building Radicle into your code collaboration experience?</p>
            <br>
            <br>
            <a href="/"><span>Download the beta</span> ↓</a>
          </div>
        </div>
      </div>
    </section>

     <section id="timeline">
      <div class="container">
        <h1 class="druk"><span class="italic">Where we’re headed </span>→</h1>
        <div class="subtitle-container">
          <h2>We see Radicle being the first open-source, community-led, self-sustaining network for software collaboration. <a href="/"><span>Learn more about our plans</span></a>.</h2>
        </div>
        <img class="timeline-gif" src="../img/roadmap-flower.gif" alt="">
        <div class="timeline">
          <div class="line"></div>
          <div class="timeline-item">
            <p class="here">We're here</p>
            <div class="icon">
              {{> svg-here }}
            </div>
            <p class="date">Late 2020</p>
            <h3 class="druk">Public Beta</h3>
            <p>The core feature-set on top of a peer-to-peer stack. This is when we'll start using it ourselves.</p>
          </div>
          <div class="timeline-item not-active">
            <p class="not-here">not here</p>
            <div class="icon">
              {{> svg-date-square }}
            </div>
            <p class="date">Early 2021</p>
            <h3 class="druk">Functional Release</h3>
            <p>The app will be hooked up with real money and the public registry and we’ll launch our native coin.</p>
          </div>
          <div class="timeline-item not-active">
            <p class="not-here">not here</p>
            <div class="icon last">
              {{> svg-date-square }}
            </div>
            <p class="date">Late 2021</p>
            <h3 class="druk">Version 2.0</h3>
            <p>Magic will happen. Everything will be solved and we’ll all be sillicon valley thousandaires.</p>
          </div>
        </div>
      </section>
  </div>{{! closes content }}
  {{> footer }}
</body>
</html>
