<!doctype html>
<html>
{{> head }}
<body id="terms">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <h1 class="headline druk privacy">Data &amp; Privacy Policy</h1>
        <img class="headline-gif" src="./img/privacy.gif" alt="A pink and orange flower blooming.">
      </section>
      <div id="terms-container">
        <p id="disclaimer">Last edited: <strong>18 November 2020</strong></p>

        <h2>Contents</h2>
        <ol id="contents">
          <li><a href="#i">Data in P2P and Blockchain Infrastructures</a></li>
          <li><a href="#ii">How We Use Personal Data</a></li>
          <li><a href="#iii">How We Use Third Party Applications</a></li>
          <li><a href="#iv">Storing Your Personal Data</a></li>
          <li><a href="#v">Transferring Data Outside the EU</a></li>
          <li><a href="#vi">User Rights Under GDPR</a></li>
          <li><a href="#vii">Contact Us</a></li>
        </ol>

        <ol id="terms-text">
          <li id="i"><h3>Data in P2P and Blockchain Infrastructures</h3></li>
          <p>Radicle Foundation (the “Foundation”) is conceptualizing and developing a decentralized software development technology stack and network, enabling its users (“Users”) to manage software projects and to host, develop and review software code in a collaborative manner (Radicle, see above). While the Foundation developed the Software, it is not involved in any of the interactions and collaborations between Users nor in the (contractual) relationships between Users.</p>
          <p>The underlying software protocols (the “Software”) that govern Radicle is developed and published under the GPLv3+Linking Exception license, which forms an integral part of this Disclaimer: https://radicle.community/t/radicle-licensing-model/282.</p>
          <p>As the Software is of experimental nature and deployed for testing purposes in a testnet environment only, you acknowledge that this Beta Version of the Software is likely to contain bugs, defects, or errors (including any bug, defect, or error relating to or resulting from the display, manipulation, processing, storage, transmission, or use of data) that may materially and adversely affects the use, functionality, or performance of Radicle or any product or system containing or used in conjunction with Radicle.</p>
          <p>As the Software is deployed for testing purposes only, you further acknowledge that the Foundation will cease its activities with regard to the Beta version of Radicle as soon as the Foundation (in its sole discretion) considers the goals associated with maintaining the Beta version to be achieved.</p>

          <li id="ii"><h3>How We Use Personal Data</h3></li>

          <h2>When subscribing to the Radicle newsletter:</h2>
          <p>When you subscribe to the Radicle newsletter, we collect personal data via our newsletter service provider MailChimp. This data may include:</p>
          <ol class="little-list">
            <li>your email address</li>
            <li>the date and time of registration</li>
            <li>your IP address</li>
            <li>your browser type</li>
            <li>your language</li>
            <li>the preferred email format</li>
          </ol>
          <p>This data is collected and processed for the purpose of subscribing you to and sending you Radicle’s newsletter (via radicle.xyz) with updates on the project’s development as well as ensuring the security and reliability of the newsletter service.</p> 
          <p>The legal basis for this processing is your consent as provided in the double opt-in confirmation part of our newsletter sign-up process. This data will be stored as long as we have the consent to send you a newsletter. If you wish to unsubscribe from our newsletter, you can do so by clicking on the link at the end of each newsletter or by sending us an email. You can read more about MailChimp’s data access as well as their legitimate interests in and purposes for collecting this data <a href="https://mailchimp.com/legal/privacy/#3._Privacy_for_Contacts" target="_blank">here</a>.</p> 

          <h2>When receiving the Radicle newsletter:</h2>
          <p>If you have subscribed to our newsletter, each time you receive and open a newsletter from us, our third-party service provider MailChimp collects data, including:</p>
          <ol class="little-list">
            <li>your email address</li>
            <li>the date and time you opened the email</li>
            <li>your location, as indicated by your IP address</li>
          </ol>
          <p>This data is collected and processed by us for the purpose of ensuring the security and reliability of the service we provide as well as our legitimate interest in the effectiveness of and general user interest in our newsletters. Because our newsletter service is hosted by MailChimp, you can view more information about the data they collect and their legitimate interests in and purposes for collecting this data <a href="https://mailchimp.com/legal/privacy/#3._Privacy_for_Contacts" target="_blank">here</a>.</p>

          <h2>When browsing the Radicle website:</h2>
          <p>If you go to the <a href="http://radicle.xyz/">Radicle website</a>, we do not collect any of your information as you browse. However, because our website is hosted by Github, user personal information from visitors to our website, including logs of visitor IP addresses, may be collected by Github to comply with legal obligations, and to maintain the security and integrity of the Website and the Service.</p> 
          
          <h2>When downloading Radicle:</h2>
          <p>When you download <a href="http://radicle.xyz/">Radicle</a> binary files, Buildkite and Google Cloud servers may collect and save information regarding your computer, network, browser, and IP address. We do not collect, store, or process the information collected by Buildkite and Google Cloud. Regarding your use of Radicle, we do not process any of your personal data (see above: Data in P2P and Blockchain Infrastructures).</p>

          <h2>When you join the Radicle Matrix server:</h2>
          <p>If you want to join Radicle’s Matrix server to chat with us and the rest of the Radicle community, you will need to join it via a client. You have the option of creating a Matrix account on Radicle's server, hosted by Ungleich; if you do, we, via Ungleich, collect your user name, display name, email address (if you provided one to the client), and your IP address each time you access our Matrix server. When you join a chat room on our server, whether you have an account on our server or not, we collect your user name and display name. This information is collected in order to deliver the chat service and enable its features, as well as ensure the security and reliability of the service.</p> 

          <h2>When you contribute to the Radicle Matrix server:</h2>
          <p>Once you’ve joined Radicle’s Matrix server, you can participate in the public chat room by contributing messages and files. When you contribute to Radicle’s Matrix server, everyone who has joined the room will collect: your username, display name, message content, message files, and message date/time. When you communicate directly with another user via a private room, the user will collect: your username, display name, message content, message files, and message date/time. This information, collected in public chat rooms or in private rooms, is stored on our Matrix homeserver, which is hosted by Ungleich.</p>
          <p>This data is collected and processed by Ungleich for the purpose of delivering the chat service and features, as well as ensuring the security and reliability of the service we provide. You can view more information about how they handle this data <a href="https://redmine.ungleich.ch/projects/open-infrastructure/wiki/Security_and_Privacy_Policy" target="_blank">here</a>. If you wish to leave the Radicle server and delete all the data that was contributed by you, you can do so by sending us an email (ange@radicle.foundation).</p>

          <li id="iii"><h3>How We Use Third Party Applications</h3></li>
          <h2>MailChimp:</h2>
          <p>We use MailChimp (based in the United States) to collect subscriber emails and to send out our newsletter to subscribers. The Foundation hereby informs you and you hereby acknowledge that the United States, in the view of the European Commission, does not ensure an adequate level of protection of personal data and that the personal data can be transferred to the recipients in the United States without any further safeguards; furthermore, during the newsletter signup process, the user consents to this transfer of personal data and confirms their understanding of the possible risks of such a transfer via the double opt-in confirmation part of the newsletter signup process. MailChimp’s privacy policy can be found <a href="https://mailchimp.com/legal/privacy/#3._Privacy_for_Contacts" target="_blank">here</a>.</p>
          <h2>Buildkite:</h2>
          <p>We use Buildkite servers to store Radicle binary files. For further information and the applicable data protection provisions of Buildkite, visit <a href="https://buildkite.com/privacy-policy" target="_blank">this site</a>.</p>
          <h2>Google Cloud:</h2>
          <p>We use Google Cloud Storage to store Radicle binary files. Our Google Cloud Storage is hosted on servers across the EU. For further information and the applicable data protection provisions of Google Cloud, visit <a href="https://cloud.google.com/security/privacy/" target="_blank">this site</a>.</p>
          <h2>Github Pages:</h2>
          <p>Our website, radicle.xyz, is hosted by Github, on Github Pages. User personal information from visitors to our website, including logs of visitor IP addresses, may be collected by Github to comply with legal obligations, and to maintain the security and integrity of the Website and the Service. For further information and the applicable data protection provisions of Github, visit <a href="https://docs.github.com/en/free-pro-team@latest/github/site-policy/github-privacy-statement#github-pages" target="_blank">this site</a>.</p>
          <h2>Matrix:</h2>
          <p>We use Matrix for our chat protocol, which enables users to securely publish and subscribe to data. The Matrix Network is a decentralised and openly federated communication network. This means that a user's messages are stored on both the homeserver where they have their account and our Matrix homeserver, which hosts the Radicle community chat room where the user makes their contributions. For more information about how Matrix works, you can read their privacy policy <a href="https://matrix.org/legal/privacy-notice" target="_blank">here</a>.</p>
          <h2>Ungleich:</h2>
          <p>We use Ungleich to host our instance of Matrix and our Matrix homeserver. A username and display name is collected to give a user access to the chat room on our Matrix homeserver, then all contributions by the user to the Radicle chat room are stored on our homeserver. Optionally, a user can create a Matrix account on our homeserver, in which case Ungleich may store an email for the purpose of recovering their password as well as the user’s IP address. Our Matrix homeserver is hosted in Ungleich’s own datacenter in Switzerland. For further information about how Ungleich handles security and privacy concerns, visit <a href="https://redmine.ungleich.ch/projects/open-infrastructure/wiki/Security_and_Privacy_Policy" target="_blank">this site</a>.</p>
          <h2>Links to Social Media:</h2>
          <p>On radicle.xyz, we link to social media profiles. Those services might also collect personal data. Please refer to their privacy policies for more information.</p>
          <ol class="little-list">
            <li><a href="https://twitter.com/de/privacy">Twitter</a></li>
            <li><a href="http://www.irchelp.org/security/privacy.html">IRC</a></li>
            <li><a href="https://telegram.org/privacy">Telegram</a></li>
            <li><a href="https://help.github.com/en/articles/github-privacy-statement">GitHub</a></li>
          </ol>

          <li id="iv"><h3>Storing Your Personal Data</h3></li>
          <p>We retain your information only for as long as is necessary for the purposes for which we process the information as set out in this policy. However, we may retain your personal data for a longer period of time where such retention is necessary for compliance with a legal obligation to which we are subject, or in order to protect your vital interests or the vital interests of another natural person.</p>

          <li id="v"><h3>Transferring Data Outside the EU</h3></li>
          <p>The Radicle newsletter subscription function is realized with the help of MailChimp, which is based in the United States (see above).</p>
          <p>Furthermore, any metadata associated with contributions made while using Radicle (including your git username and, potentially, your email address if it’s associated with your git username) may be replicated and stored around the world.</p>

          <li id="vi"><h3>User Rights Under GDPR</h3></li>
          <p>At Radicle Foundation, we take user rights and privacy seriously - and this philosophy is built into each one of our projects. We have limited the data collected to the absolute minimum we need to enable the projects to work for the user. Our third-party service providers assure us that they take the appropriate security measures to prevent access to our newsletter subscriber list for any purpose other than our purpose of using it to inform supporters of our projects’ progress.</p>
          <p>As a Radicle newsletter subscriber and a contributor to the Radicle Community Matrix, you have the right to information, correction, limitation of data processing, deletion of personal data, objection, revocation of the declaration of consent under data protection law for the future and data transferability within the framework of the data protection law applicable to you and to the extent provided for therein (such as in the case of the GDPR). Please note that while we can delete your data from our Radicle Matrix homeserver, this does not apply to the data on Matrix servers run by others, including, potentially, the homeserver where you have your Matrix account.</p>
          <p>In addition, you have the right to assert your claims in court or to file a complaint with the responsible data protection authority. Switzerland's competent data protection authority is the Federal Data Protection and Information Commissioner.</p>
          <p>However, because of Radicle’s peer-to-peer, gossip-based infrastructure, the deletion or editing of any contributions you make to your or other repositories on the Radicle Network and any personal data made available to the public in this regard (see above: Data in P2P and Blockchain Infrastructures) cannot be (fully) enforced. This is because Radicle Network is a decentralized network and it stores data committed to it around the world. We can only ensure your rights regarding data as to which we qualify as a controller (data processed by the Radicle Foundation – see above: How We Use Personal Data).</p>

          <li id="vii"><h3>Contact Us</h3></li>
          <p>This <a href="http://www.radicle.xyz">website</a> is owned and operated by the Radicle Foundation. We are registered in the canton of Zug, Switzerland, under the commercial register number CHE405.696.942 [CHE-405.696.942 MWST]. Our registered office is located at:</p>
          <p>Suurstoffi 37<br>6343 Rotkreuz<br>Switzerland</p>
          <p>If you have any queries concerning the website or your rights under this Privacy Policy, please contact Ange Royall-Kahin at <a href="mailto:ange@radicle.foundation">ange@radicle.foundation</a>.</p>
          </ul>
        </ol>
      </div>

    </div>
  </div>
</body>
</html>
