<!doctype html>
<html>
{{> head }}
<body id="index">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <img class="headline-gif" src="./img/header-flower.gif" alt="Animation of a flower growing.">
        <h1 class="headline druk">Privacy Policy</h1>
      </section>
    </div>
  </div>
</body>
</html>
