<!doctype html>
<html>
{{> head }}
<body>
  <section id="subscribed">
    <div class="container">
      <h1>
        Thank you!
      </h1>
      <section id="flowers-success">
        <pre><code>                _(_)_                     _(_)_                     _(_)_     </code></pre>
        <pre><code>    @@@@       (_)@(_)        @@@@       (_)@(_)        @@@@       (_)@(_)    </code></pre>
        <pre><code>   @@()@@ wWWWw  (_)\        @@()@@ wWWWw  (_)\        @@()@@ wWWWw  (_)\     </code></pre>
        <pre><code>    @@@@  (___)     \|/       @@@@  (___)     \|/       @@@@  (___)     \|/   </code></pre>
        <pre><code>     /      Y       \|         /      Y       \|         /      Y       \|    </code></pre>
        <pre><code>  \ |     \ |/       | /    \ |     \ |/       | /    \ |     \ |/       | /  </code></pre>
        <pre><code>  \\|//   \\|///  \\\|//    \\|//   \\|///  \\\|//    \\|//   \\|///  \\\|//  </code></pre>
        <pre><code>^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</code></pre>
      </section>
      <br/>
      <a href="/">
        <button>
          &larr; Back home
        </button>
      </a>
    </div>
  </section>
</body>
</html>
