<!doctype html>
<html>
{{> head }}
<body id="index">
  <div class="overflow-killer">
    {{> header }}
    <div class="content">
      <section id="headline">
        <img class="headline-gif" src="../img/header-flower.gif" alt="Animation of a flower growing.">
        <h1 class="headline druk">Subscribed.</h1>
        <h2 class="blend">We’ve just sent you an email.</h2>
        <a href="/">
          <button class="subscribe-button">Back</button>
        </a>
      </section>
    </div>
  </div>
</body>
</html>
